:root{
    --bg1 : #FF7DD6;
    --bg2 : #64AAFF;
    --bg3 : #FFBF4A;
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(var(--bg1), var(--bg2));
    transition: 0.4s;
    overflow: hidden;
    position: relative;
}
.container:hover{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    background: linear-gradient(var(--bg1), var(--bg2));
}
.container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin: 20px auto;
    cursor: pointer;
    transition: 0.8s;
}
.container img.active{
    width: 350px;
    height: 450px;
    margin: 0;
    border-radius: 10px;
    border: 5px solid #ffffff;
}
.container h2{
    color: #ffffff;
}
.container p{
    color: #ffffff;
    margin: 0 30px 12px;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 12px;
}
.btn-container button{
    height: 35px;
    width: 150px;
    border: none;
    margin-right: 12px;
    border-radius: 5px;
    color: #333333;
    cursor: pointer;
    transition: 0.3s;
}
.btn-container button:hover{
    transform: scale(0.92);
}
.icon-social{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateX(-60px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.1s;
    top: 12px;
}
.container:hover .icon-social{
    transform: translateX(0px);
    opacity: 1;
}
.icon-social a{
    text-decoration: none;
    margin-top: 5px;
    padding: 12px;
}
.icon-social i{
    padding: 10px;
    color: var(--bg1);
    background: #ffffff;
    border-radius: 50%;
    margin: 5px 0 0 7px;
    cursor: pointer;
    transition: 0.3s;
}
.icon-social i:hover{
    transform: scale(0.92);

}
